.social-primary {
    &__item {
        padding: 5px;
    }
    &__link {
        width: 40px;
        height: 40px;
        border-radius: 999px;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        height: 16px;
        width: auto;
    }
}
.forward {
 
    &-item {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 20px;
      
    }

    &-item {
        &.active {
            .forward-link{
                background-image: linear-gradient(180deg, #A61B28, #D44C58);
                color: #fff;
            }
        }
    }
    &-link {
      background-color: transparent;
      padding: 14px 25px;
      border-radius: 999px;
      border: none;
      color: #333;
      border: 1px solid #ccc;
      font-size: 18px;
      display: inline-block;

      &:hover {
        background-image: linear-gradient(180deg, #A61B28, #D44C58);
        color: #fff;
      }
    }
}

.pagination {
    flex-wrap: wrap;
    &-item {
        margin: 4px;
       
        &.active {
            .pagination-link {
                color: #A61B28;
                border-bottom: 1px solid #A61B28;
            }
        }
    }
    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;

        &:hover {
            color: #A61B28;
        }

        img {
            height: 20px;
            width: auto;
        }
    }

}
/*======================================================================== aboust us */
.about-us-primary {
    &__row {
        + .about-us-primary__row {
            margin-top: 80px;
        }
        
        .heading-tertiary__left {
            .line {
                display: none;
            }
        }
        &:nth-child(odd) {
            .column-left__content {
                padding-right: 40px;
            }
        }
        
        &:nth-child(even) {
            .column-left {
                order: 2;
                .heading-tertiary__icon {
                    display: flex;
                    justify-content: flex-end;
                }
                
                .title-2 {
                    justify-content: flex-end;
                }
                
                .column-left__content {
                    text-align: right;
                    padding-left: 40px;
                }
            }
            .column-right {
                order: 1;
            }
        }
        
    }
}
/*======================================================================== nhan su */
.human-resources-primary {
    &__row-one {
        .column-one {
            .article-row-one {
                .info-item {
                    position: relative;
                    padding-left: 20px;
                    margin-bottom: 5px;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 4px;
                        height: 4px;
                        border-radius: 999px;
                        background-color: #333;
                    }
                }
            }
        }

        .article-row-one {
        .info-item {
            position: relative;
            padding-left: 20px;
            margin-bottom: 5px;

            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              width: 4px;
              height: 4px;
              border-radius: 999px;
              background-color: #333;
            }
        }
      }

      .article-row-two {
        .list {
          .item {
            position: relative;
            padding-left: 20px;
            margin-bottom: 5px;
            margin-right: 20px;

            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              width: 6px;
              height: 6px;
              border-radius: 999px;
              background-color: #A61B28;
            }
          }
        }
      }
    }
    .column-inner {
        .article {
            position: relative;
            border: 2px solid transparent;
            overflow: hidden;
            border-radius: 15px;
            cursor: pointer;
        }
        .article-content {
            position: absolute;
            bottom: 12px;
            right: 12px;
            left: 12px;
        }
    }
}

.human-resources-detail-primary {
    .heading-quaternary {
        .line {
            background-color: #A61B28;
        }
    }
    .article-download {
        padding: 11px 25px;
        background-color: #A61B28;
    }
    &__block-one {
        .article-content {
            .info-item {
                position: relative;
                padding-left: 20px;
                margin-bottom: 5px;
                color: #666;

                &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 4px;
                height: 4px;
                border-radius: 999px;
                background-color: #333;
                }
            }

            .contact {
                &-icon {
                    width: 32px;
                    height: 32px;
                    border-radius: 999px;
                    background-color: #A61B28;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    &__block-two {
        padding: 40px 80px;
        .list {
            .item {
                position: relative;
                padding-left: 20px;
                margin-bottom: 5px;

                &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 4px;
                height: 4px;
                border-radius: 999px;
                background-color: #333;
                }
            }
        }
        .row-block + .row-block {
            margin-top: 40px;
        }
        
    }
    &__block-three {
        padding: 40px 80px;

        .list {
            .item {
                width: 22%;
            }
            .item-icon {
                width: 60px;
                height: 60px;
                border-radius: 999px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: 40px;
                    width: auto;
                }
            }
        }
    }
    &__block-four {
        padding: 40px 80px;

        .row-block {
            .list {
                .item {
                    position: relative;
                    margin-left: 20px;
                    padding-left: 10px;
                    margin-bottom: 20px;
                    list-style: auto;

                }
            }
        }
    }
}

/*======================================================================== thanh tuu */
.achievement-primary {
    &__top {
        .article {
            max-width: 680px;
            margin: auto;
        }
        .article-time {
            border-radius: 10px;
            padding: 8px 25px;
            display: inline-block;
        }
    }

    &__bot {
        margin-top: 60px;
        padding-left: 40px;
        padding-right: 40px;
        .article {
            cursor: pointer;
        }
        .article-time {
            text-align: center;
            font-size: 30px;
            color: #888;

            &:hover {
                color: #A61B28;
            }
        }

        .swiper-slide-thumb-active {
            .article-time {
                color: #A61B28;
                transform: scale(1.5);
            }
        }

    }
}

/*======================================================================== giay phep */
.license-primary {
    &__slide {
        padding-bottom: 60px;
        .swiper-slide {
            transform: scale(0.9);
            opacity: 0.6;
        }
        
        .swiper-slide.swiper-slide-active {
            transform: scale(1);
            opacity: 1;
        }
    }
}
/*======================================================================== dich vu phap ly */
.legal-services-primary {
    &__container {
        .article-img {
            img {
                width: 100%;
                height: auto;
                max-height: 50vh;
            }
        }
    }
}
/*======================================================================== kiến thức pháp lý */
.legal-knowledge-secondary {
     &__bg {
        position: absolute;
        inset: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__large {
        .article-content {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 66%, rgba(0, 0, 0, 0.5) 100%);
            justify-content: flex-end;
            top: auto;
        }
        .article-inner img{
            transition: transform 0.3s;
        }
        .article-inner:hover .article-inner__img {
            transform: scale(1.07,1.07);
        }
    }
}
/*======================================================================== partner */
.partner-secondary {

    &__decription {
        max-width: 1000px;
        margin: 40px auto;
    }

    &__content {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 40px;
        gap: 40px;
        flex-wrap: wrap;


        .article-img {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                max-height: 80px;
                height: auto;
                object-fit: contain;
                filter: grayscale(1);
            }
        }
    }
    
}
.partner-tertiary {
    &__bot {
        margin-top: 60px;
    }
}
/*======================================================================== contact */
.contact-tertiary {
    &__left {
        padding-left: 260px;
        padding-top: 50px;
        padding-bottom: 50px;
        &-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
             .logo-img {
                height: 75px;
                width: auto;
            }
            .item-info {
                align-items: center;

                &.has-dot {
                    position: relative;
                    padding-left: 15px;
                    &::before {
                        position: absolute;
                        content: '';
                        width: 4px;
                        height: 4px;
                        border-radius: 999px;
                        background-color: #fff;
                        top: 8px;
                        left: 0;
                    }
                }

                &__icon {
                    img {
                        width: 20px;
                        height: auto;
                    }
                }

                &__text {
                    padding-left: 15px;
                }

                .text-link-decoration {
                    text-decoration: underline;
                    color: #fff;
                    padding-left: 15px;

                    &:hover {
                        color: #c4c4c4;
                    }
                }

                .text-link {
                    color: #fff;
                    &:hover {
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &__right {
        padding-right: 260px;
    }
}
.contact-quaternary {
    &__map {
        iframe {
            width: 100%;
            height: 500px
        }
    }
}

/*======================================================================== tuyen dụng */
.recruitment-secondary {
    &__list {
        grid-auto-rows: 1fr;
        align-items: stretch;
        .article {
            padding: 50px 30px;
            &:nth-child(1) {
                border-top-right-radius: 50px;
                border-bottom-left-radius: 50px;
            }
            &:nth-child(2) {
                border-top-left-radius: 50px;
                border-bottom-right-radius: 50px;
            }
            &:nth-child(3) {
                border-top-left-radius: 50px;
                border-bottom-right-radius: 50px;
            }
            &:nth-child(4) {
                border-top-right-radius: 50px;
                border-bottom-left-radius: 50px;
            }
        }

        .article-img {
            img {
                height: 75px;
                width: auto;
            }
        }
    }
}

.recruitment-tertiary {
    &__top {
        .article-special {
            .item-info {
                &__icon {
                    width: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 24px;
                        width: auto;
                    }
                }
            }
        }

        .article-list {
            .item-text {
                position: relative;
                padding-left: 20px;
                margin-bottom: 10px;
    
                &::before {
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: 0;
                  transform: translateY(-50%);
                  width: 4px;
                  height: 4px;
                  border-radius: 999px;
                  background-color: #333;
                }
            }
        }
    }

    &__bot {
        .apply {
            cursor: pointer;
            &-text {
                transform: translateY(3px);
            }
        }
        .up-profile {
            cursor: pointer;
            &-text {
                transform: translateY(3px);
            }
        }

        .recruitment-tertiary__info {
            padding-left: 150px;

            .info-list {
                padding-left: 40px;
                margin-left: 20px;
                border-left: 1px solid #ccc;
            }
            .item-info {
                 &__icon {
                    img {
                        width: 20px;
                        height: auto;
                    }
                }

                &__text {
                    padding-left: 15px;
                }
            }
        }
    }
}
.popup {
    &-container {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 1140px;
        width: 90%;
        height: auto;
        border-radius: 20px;
        background-color: #fff;
        z-index: 100;
        padding: 20px 50px;
        display: none;
        flex-direction: column;
        align-items: center;
        max-height: calc(100vh - 200px);
        overflow: auto;

        &.active {
            display: flex;
        }
    }

    .close-popup {
        position: sticky;
        width: 50px;
        height: 50px;
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e2e2e2;
        margin-left: auto;
        cursor: pointer;
        flex-shrink: 0;
        margin-top: -10px;
        margin-right: -10px;

        &:hover {
            background-color: #c9c9c9;
        }

        img {
            width: 16px;
            height: auto;
        }
    }
    &-field {
        max-width: 1140px;
        width: 100%;
        margin: auto;
    }
    &-content {
        & figure {
            max-width: 900px;
            margin: auto;
            margin-bottom: 1.25rem;
    
            img {
                width: 100%;
                height: auto !important;
                margin: auto;
                border-radius: 25px;
            }
        }
        & figure figcaption {
            background: #fff;
            padding: 0.625rem 0.9375rem;
            font-size: 14px;
            display: block;
            margin: 0 auto;
            max-width: 100%;
            line-height: 1.25rem;
            color: #555;
            text-align: center;
        }
        & figure figcaption em {
            font-style: italic;
        }
        & figure h2,
        figure h3,
        figure h4,
        figure h5,
        figure h6,
        figure p {
            font-weight: normal !important;
            font-size: 14px !important;
            margin: 0 auto;
            line-height: 1.3 !important;
            color: #555;
        }
    
        & p a {
            color: #A61B28;
            font-style: italic;
            
            &:hover {
                text-decoration: underline;
            }
        }
        & p,
        & li {
            font-size: 18px;
            margin-bottom: 18px;
            line-height: 160%;
            word-break: break-word;
            color: #62605c;
    
        }
        & ul {
            padding-left: 30px;
        }
        & ul li {
            list-style: disc;
        }
        &  h2,
        &  h3,
        &  h4,
        &  h5,
        &  h6 {
            font-weight: bold;
            margin-bottom: 15px;
            font-family: 'Raleway', sans-serif;
            color: #181E23;
        }
        &  h2 {
            font-size: 24px;
        }
        &  h3 {
            font-size: 22px;
        }
        &  h4 {
            font-size: 20px;
        }
        &  h5 {
            font-size: 18px;
        }
        &  h6 {
            font-size: 16px;
        }
    
        & blockquote {
            background: #242d2e;
            border-radius: 10px;
            padding: 40px;
            position: relative;
            z-index: 5;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
            display: inline-block;
            width: 100%;
            font-size: 18px;
            color: #fff;
    
            & p {
                color: #fff;
                font-size: 18px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            h2,h3,h4,h5,h6 {
                color: #fff;
            }
    
            a {
                color: #ff9222;
            }
        }
    }

    &-form {
        .contact-field {
            border-radius: 10px;
            input  {
                width: 100%;
                background-color: rgb(255, 255, 255);
                border: 1px solid #787878;
                border-radius: 999px;
                padding: 15px 20px;
                overflow: hidden;
                &::placeholder{color: #787878;}
                font-size: 16px;
            }

            textarea {
                width: 100%;
                border: none;
                padding: 15px 20px;
                border-radius: 25px;
                overflow: hidden;
                background-color: rgb(255, 255, 255);
                border: 1px solid #787878;
                height: 100px;
                font-size: 16px;
            }

            &.custom-select {
                width: 100%;
                background-color: rgb(255, 255, 255);
                border: 1px solid #787878;
                border-radius: 999px;
                padding-right: 20px;
                overflow: hidden;
            }
            select {
                width: 100%;
                padding: 15px 20px;
                background-color: transparent;
                font-size: 16px;
                &::placeholder{color: #9e9e9e;}
            }

        }
    }
}

 .gallery {
    grid-auto-rows: auto;
    &-item {
        img {
            height: 250px;
            width: 100%;
            object-fit: cover;
        }
        &:nth-child(6n+1){
            grid-column: span 1;
            grid-row: span 2;
            img {
                height: 520px;
            }
        }
        &:nth-child(6n+2){
            grid-column: span 1;
            grid-row: span 1;
        }
        &:nth-child(6n+3){
            grid-column: span 1;
            grid-row: span 1;
        }
        &:nth-child(4n+4) {
            grid-column: span 2;
            grid-row: span 1;
        }
        &:nth-child(6n+5) {
            grid-column: span 2;
            grid-row: span 1;
        }
        &:nth-child(6n+6) {
            grid-column: span 1;
            grid-row: span 1;
            
        }
    }
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    inset: 0;
    z-index: -1;
}
.inputfile + label {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    line-break: anywhere;
}

/*======================================================================== faq */
.faq-primary {
    &__item {
        border-radius: 5px;

       
        .faq-nummber {
            background-color: rgba($color: #A61B28, $alpha: 0.25);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
        .faq-item {
             &__left {
                align-items: stretch;
            }
            &__title {
                padding: 27px 20px;
            }
            &__right {
                img {
                    width: 18px;
                    height: auto;
                }
            }
            &__content {
                padding: 15px 60px 15px 100px;
                display: none;
            }
        }

        &.active {
            .faq-item__right {
                img {
                    transform: rotate(180deg);
                }
            }
            .faq-item__content {
                display: block;
            }
        }
    }
}