// max width 1536px
@media (max-width: 1536px) {
    .d-2xl-none {
        display: none;
    }
    .d-2xl-block {
        display: block;
    }
    .d-2xl-flex {
        display: flex;
    }
    .d-2xl-grid {
        display: grid;
    }

    .border-2xl-10 {
        border-radius: 10px;
    }
    .border-2xl-15 {
        border-radius: 15px;
    }
    .border-2xl-20 {
        border-radius: 20px;
    }
    .border-2xl-25 {
        border-radius: 25px;
    }
    // --------------------------------------------------------------------header
    .menu-heading {
        &__text {
            font-size: 14px;
        }
    }

    // --------------------------------------------------------------------index
        .arrow-slide-primary,
        .arrow-slide-secondary {

        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            right: 0px;
            left: auto;
        }
    
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: 0px;
            right: auto;
        }
    }

    // --------------------------------------------------------------------cate
    // -------------------------------------------------contact 
    .contact-tertiary {
        padding-bottom: 40px;
        &__left {
            padding-left: 15px;
        }
        &__right {
            padding-right: 15px;
        }
    }

    // --------------------------------------------------------------------detail
   
    // --------------------------------------------------------------------footer
}
// max width 1280px
@media (max-width: 1280px) {
    .d-xl-none {
        display: none;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-grid {
        display: grid;
    }
    .w-xl-700 {
        max-width: 700px;
        margin: auto;
    }

    .border-xl-10 {
        border-radius: 10px;
    }
    .border-xl-15 {
        border-radius: 15px;
    }
    .border-xl-20 {
        border-radius: 20px;
    }
    .border-xl-25 {
        border-radius: 25px;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index
    .heading-primary {
        .heading-title {
            font-size: 40px;
        }
    }
    .title-1 {
        font-size: 20px;
    }
    .heading-tertiary {
        &__left {
            .title-2 {
                .heading-title {
                    font-size: 40px;
                }
                .line {
                    width: 70px;
                }
            }
        }
    }
    .heading-quaternary {
        .heading-title {
            font-size: 32px;
        }
    }



    .section-primary {
        &__title {
            font-size: 36px;
        }
    }
    .section-secondary {
        &__container {
            grid-gap: 50px;
            gap: 50px;
        }
    }

    .section-quinary {
        &__slide {
            .article {
                padding: 40px 30px;
            }
            .article-img {
                max-height: 60px;
                img {
                    max-height: 60px;
                }
            }
        }
    }

    .section-senary {
        &__tab-pane-one {
            .article-img {
                width: 50%;
            }
        }
        &__tab-pane-two-slide-pc {
             .right {
                .article-content {
                    bottom: 8px;
                    right: 8px;
                    left: 8px;
                    padding: 8px;

                    .info {
                        display: none;
                    }
                }
                
             }
        }
    }

    .section-septenary {
        &__slide {
            .article {
                padding: 40px 20px;
                
                .article-des {
                    padding-left: 30px;
                    padding-right: 30px;
                    .quote img {
                        width: 30px;
                    }
                }
            }
        }
    }

    .section-octonary {
        &__content {
            grid-gap: 20px;
            gap: 20px;
        }
        &__left {
            .article-content {
                padding: 20px;
            }
            .article-title {
                font-size: 20px;
            }
        }
        &__right {
            .article-content {
                padding: 10px;
            }
            .article-title {
                font-size: 16px;
            }
        }
    }

    .section-nonary {
        &__container {
            display: flex;
            flex-direction: column;
            padding-top: 80px;
            padding-bottom: 80px;
        }

        &__left {
            order: 2;
            padding: 0;
            margin-top: 30px;
        }
        &__right {
            order: 1;
            padding: 0;

            .title {
                font-size: 32px;
            }
        }

        &__map {
            margin: 0;

            iframe {
                width: 100%;
                height: 400px;
            }
        }
    }
    


    // --------------------------------------------------------------------cate


    // --------------------------------------------------------------------detail
    

    // --------------------------------------------------------------------footer
   .footer-primary {
        &__top {
            grid-gap: 24px;
            gap: 24px;

            .item-info {
                align-items: center;
            }
            .list-info {
                font-size: 16px;
            }
        }
    }
    .social-footer {
        &__link {
            width: 40px;
            height: 40px;
        }
        &__icon {
            height: 18px;
            width: auto;
        }
    }
 
}
// max width 1024px
@media (max-width: 1024px) {
    .d-lg-none {
        display: none;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-grid {
        display: grid;
    }
    .w-lg-full {
        width: 100%;
        max-width: 100%;
    }
    .w-lg-700 {
        max-width: 700px;
        margin: auto;
    }
    .w-lg-500 {
        max-width: 500px;
        margin: auto;
    }
    .py-lg-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .mt-lg-20 {
        margin-top: 20px;
    }
    .mt-lg-30 {
        margin-top: 30px;
    }
    .mt-lg-40 {
        margin-top: 40px;
    }

    .col-lg-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .border-lg-10 {
        border-radius: 10px;
    }
    .border-lg-15 {
        border-radius: 15px;
    }
    .border-lg-20 {
        border-radius: 20px;
    }
    .border-lg-25 {
        border-radius: 25px;
    }
    // --------------------------------------------------------------------header

    // -------------------------------------------------------------------- index

    // --------------------------------------------------------------------cate
    // detail nhan su
    .human-resources-detail-primary {
        &__block-one {
            .article-img {
                padding-bottom: 56.25%;
            }
        }
    }

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}

// max width 992px
@media (max-width: 992px) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-grid {
        display: grid;
    }
    .w-md-full {
        max-width: 100%;
        width: 100%;
    }
    .w-md-500 {
        max-width: 500px;
        margin: auto;
    }
    .col-md-1 {
        grid-template-columns: 1fr;
    }
    .col-md-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .gap-md-10 {
        grid-gap: 0.625rem;
        gap: 0.625rem;
    }
    .pt-md-0 {
        padding-top: 0;
    }
    .mt-md-0 {
        margin-top: 0;
    }
    .mt-md-20 {
        margin-top: 20px;
    }
    .py-md-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .pt-md-30 {
        padding-top: 30px;
    }
    .mt-md-30 {
        margin-top: 30px;
    }
    .py-md-40 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .pt-md-40 {
        padding-top: 40px;
    }
    .mt-md-40 {
        margin-top: 40px;
    }

    .border-md-10 {
        border-radius: 10px;
    }
    .border-md-15 {
        border-radius: 15px;
    }
    .border-md-20 {
        border-radius: 20px;
    }
    .border-md-25 {
        border-radius: 25px;
    }
    // --------------------------------------------------------------------header
   
    // --------------------------------------------------------------------index
    .arrow-slide-primary,
    .arrow-slide-secondary {
       .swiper-button-next, 
       .swiper-button-prev {
           width: 36px;
           height: 36px;
       }
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
           right: 0;
       }
      .swiper-button-prev,
      .swiper-rtl .swiper-button-next {
           left: 0;
       }
    }
    .heading-primary {
        .heading-title {
            font-size: 36px;
        }
    }
    .heading-tertiary {
        &__left {
            text-align: center;

            .title-2 {
                flex-direction: column;
                justify-content: center;

                .line {
                    margin: 20px auto;
                }

                .heading-title {
                    font-size: 36px;
                }
            }
        }
        &__right {
            display: none;
        }

        &__icon {
             img {
                width: 50px;
            }
        }
    }

    .heading-quaternary {
        .line {
            background-color: #A61B28;
        }
    }


    .section-primary {
        &__container {
            display: flex;
            flex-direction: column;
        }

        &__left {
            order: 2;
            width: 100%;
        }
        &__right {
            order: 1;
        }

    }

    .section-secondary {
        &__right {
            img {
                width: 100%;
            }
        }
    }


    .section-quaternary {
        &__row {
            margin-top: 30px;
            padding-top: 0;
        }
    }

    .section-senary {
        &__tab-pane-one {
            .article-img {
                width: 100%;
                padding-bottom: 56.25%;
            }
        }
    }
    .section-octonary {
        &__content {
            margin-top: 30px;
            padding-top: 0;
        }
    }

    

    // --------------------------------------------------------------------cate
    // nhan su
    .human-resources-primary {
        &__row-one {
            .column-one {
                .article-img {
                    padding-bottom: 56.25%;
                }
            }
        }
    }
    // detail nhan su
    .human-resources-detail-primary {
        &__heading {
            .title-2 {
                font-size: 40px;
            }
        }

        &__block-two {
            padding: 40px 20px;
        }

        &__block-three {
            padding: 40px 20px;

            .list {
                .item {
                    width: 45%;
                }
            }
        }

        &__block-four {
            padding: 40px 20px;
        }
    }
    // ---------------------------------about us
    .about-us-primary {
        &__row {
            + .about-us-primary__row {
                margin-top: 50px;
            }

            
            &:nth-child(odd) {
                .column-left__content {
                    padding-right: 0;
                }
                .heading-tertiary__left {
                    .line {
                        display: block;
                        margin: 20px 0;
                    }
                    .title-2 {
                        align-items: flex-start;
                    }
                }
                
            }
            
            &:nth-child(even) {
                .column-left {
                    .heading-tertiary__icon {
                        display: flex;
                        justify-content: flex-end;
                    }

                    .title-2 {
                        justify-content: flex-end;
                    }

                    .column-left__content {
                        padding-left: 0;
                    }
                }

                .heading-tertiary__left {
                    .line {
                        display: block;
                        margin: 20px 0;
                    }
                    .title-2 {
                        align-items: flex-end;
                    }
                }
            }

        }
    }

    // ---------------------------------thanh tuu
    .achievement-primary {
        &__top {
            .article-content {
                padding: 24px 0 0;
            }
        }
    }
    // --------------------------------- kien thuc phap ly
    .forward {
        &-item {
            display: block;
            width: 100%;
        }
        &-link {
            padding: 10px 25px;
            font-size: 16px;
            display: block;
            text-align: center;
        }
    }
    // ---------------------------------
    // ---------------------------------



    // --------------------------------------------------------------------detail
    .detail-action {
        &__right {
            margin-top: 20px;
        }
    }
    .article-related {
        .article-img {
            width: 100%;
        }
        .article-content {
            padding: 15px 0 0;
        }
    }

    .detail-tags {
         .tags-list {
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow: auto;
         }
    }
    .detail-title {
        font-size: 30px;
    }


    .detail-primary {
        &__left {
            max-width: 100%;
            width: 100%;
            margin-bottom: 40px;
        }

        &__right {
            max-width: 100%;
            width: 100%;
        }
    }

    .service-related {
        &__content {
            .article {
                display: flex;
                align-items: center;
            }
            .article-img {
                flex-shrink: 0;
                width: 35%;
            }
            .article-content {
                flex: 1;
                padding-left: 12px;
            }
        }
    }


    
    // --------------------------------------------------------------------footer
    #back-top {
        width: 40px;
        height: 40px;
        right: 30px;

        img {
            width: 12px;
        }
    }
    .footer-primary {
        &__container {
            padding-top: 30px;
            padding-bottom: 130px;
        }

        &__top {
            padding-bottom: 20px;
            margin-bottom: 20px;
            .title {
                font-size: 20px;
            }

            .list-info {
                font-size: 16px;
            }

            .left {
                margin-bottom: 40px;
            }

            .center {
                margin-bottom: 40px;
            }
        }

        &__bot {
            .social-footer {
                margin-bottom: 20px;
            }
        }
    }
    .ripple-effect {
         .pulse {
            width: 48px;
            height: 48px;
        }
        .pulse-icon {
            width: 40px;
            height: 40px;
        }
    }

}

// max width 767px
@media (max-width: 767px) {
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-grid {
        display: grid;
    }
    .mb-sm-0 {
        margin-bottom: 0;
    }
    .mt-sm-0 {
        margin-top: 0;
    }
    .pt-sm-50 {
        padding-top: 50px;
    }
    .pb-sm-50 {
        padding-bottom: 50px;
    }

    .border-sm-5 {
        border-radius: 5px;
    }
    .border-sm-10 {
        border-radius: 10px;
    }
    .border-sm-15 {
        border-radius: 15px;
    }
    .border-sm-20 {
        border-radius: 20px;
    }
    .border-sm-25 {
        border-radius: 25px;
    }
    .w-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .btn {
        padding: 15px 35px;
        font-size: 16px;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index

    .arrow-slide-primary,
    .arrow-slide-secondary {
       .swiper-button-next,
       .swiper-rtl .swiper-button-prev {
            right: 10px;
        }
       .swiper-button-prev,
       .swiper-rtl .swiper-button-next {
            left: 10px;
        }
    }

    .heading-primary {
        .heading-title {
            font-size: 30px;
        }
    }
    .heading-secondary {
        .heading-title {
            font-size: 16px;
        }
        .line.auto {
            margin: 20px auto;
        }
    }
    .heading-tertiary {
        &__left {
            .title-2 {
                .heading-title {
                    font-size: 30px;
                }
            }
        }
    }

    .heading-quaternary {
        .line {
            width: 40px;
        }
        .heading-title {
            font-size: 25px;
        }
    }

    .see-more-primary {
        &__link {
            font-size: 16px;
        }
    }



    .section-primary {
        &__right-logo {
            img {
                height: 56px;
            }
        }

        &__title {
            font-size: 32px;
        }
        &__des {
            font-size: 16px;
        }
    }

    .section-tertiary {
        &__des {
            font-size: 16px;
        }
    }

    .section-quaternary {
        &__row {
            .article-title {
                font-size: 14px;
                font-weight: bold;
            }
        }
    }

    .section-quinary {
        &__slide {
            .article {
                padding: 40px 10px;
            }
            .article-title {
                font-size: 16px;
            }
        }
    }
    .section-senary {
        &__top {
            .top-list {
                justify-content: center;
            }
            .top-item {
                margin-right: 10px;
            }
            .top-link {
                padding: 10px 15px;
                font-size: 16px;
                min-width: 150px;
                text-align: center;
            }
        }

        &__tab-pane {
            margin-top: 20px;

            &-one {
                .article-row-one {
                    .name {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .section-septenary {
        &__slide {
            .article {
                padding: 40px 10px;
                .article-img {
                    width: 77px;
                }
                .article-des {
                    padding-left: 0;
                    padding-right: 0;
                    .quote {
                        display: none;
                    }
                }
            }

            .article-name {
                font-size: 18px;
            }
            .article-profession {
                font-size: 16px;
            }
        }
    }

    .section-octonary {
        &__left {
            .article-content {
                padding: 12px;
            }
            .article-title {
                font-size: 16px;
                line-height: 140%;
            }
            .article-time {
                font-size: 16px;
            }
        }

        &__right {
            .article-content {
                padding: 12px;
            }
            .article-time {
                font-size: 14px;
            }
        }
    }
    .section-nonary {
        &__right {
            .title {
                font-size: 27px;
            }
        }
    }
    

    // --------------------------------------------------------------------cate
    .about-us-primary {
        &__row {
            .column-left__content {
                margin-top: 10px;
            }
            .article-des {
                font-size: 16px;
            }
        }
    }
    // ---------------------------------------------detail nhan su
    .human-resources-detail-primary {
        &__heading {
            .title-1 {
                text-align: center;
            }
            .title-2 {
                font-size: 27px;
                text-align: center;
            }
        }

        &__block-one {
            .article-content {
                padding: 20px 15px;
            }

            .contact {
                display: block;

                .contact-item + .contact-item {
                    margin-top: 15px;
                }
            }

            .des {
                font-size: 16px;
            }
        }

        &__block-two {
            padding: 20px 15px;
            margin-top: 20px;

            .list {
                font-size: 16px;
            }
        }

        &__block-three {
            padding: 20px 15px;
            margin-top: 20px;

            .list {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                align-items: stretch;
                .item {
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    
                    &-text {
                        font-size: 20px;
                        padding-left: 0;
                        margin-top: 12px;
                        text-align: center;
                    }
                }
            }
        }

        &__block-four {
            padding: 20px 15px;
            margin-top: 20px;

            .list {
                font-size: 16px;
            }
        }
    }

    // --------------------------------------------- thanh tuu
    .achievement-primary {
        &__content {
            margin-top: 20px;
            padding-top: 0;

        }
        
        &__top {
            .article-content {
                text-align: center;
            }
            .article-des {
                font-size: 16px;
                text-align: left;
            }
        }


        &__bot {
            .article-time {
                font-size: 18px;
            }
        }
    }

    .achievement-secondary {
        &__content {
            .article-content {
                margin-top: 15px;
                margin-bottom: 10px;
            }

            .article-title {
                font-size: 14px;
            }
        }
    }
    // --------------------------------------------- partner
    .partner-secondary {
        &__decription {
            font-size: 16px;
            margin: 20px auto;
        }

        &__content {
            grid-gap: 24px;
            gap: 24px;
             .article-img img {
                width: 100%;
                max-width: 80px;
                max-height: inherit;
                height: auto;
            }
        }
    }

    .partner-tertiary {
        &__decription {
            font-size: 16px;
        }

        &__bot {
            margin-top: 40px;

            .article-content {
                padding: 15px 10px;
            }
            .article-title {
                font-size: 16px;
            }
        }
    }
    // --------------------------------------------- contact
    .contact-tertiary {
        &__left {
            padding: 40px 10px;
            &-content {
                .title {
                    font-size: 18px;
                }

                .item-info__icon img {
                    width: 18px;
                    height: auto;
                }
                .item-info__text {
                    font-size: 16px;
                }
            }
        }
        &__right {
            padding: 10px;
        }
    }

    .contact-quaternary {
        &__map {
            iframe {
                width: 100%;
                height: 400px;
            }
        }
    }
    // --------------------------------------------- 


    // --------------------------------------------------------------------detail
    p + p {
        margin-top: 20px;
    }

    .detail-title {
        font-size: 24px;
    }
    
    .detail-author {
        &__img {
            width: 34px;
            height: 34px;
        }
        &__name {
            font-size: 14px;
        }
    }

    .time {
        &-icon {
            img {
                width: 20px;
            }
        }
        &-text {
            font-size: 14px;
        }
    }
    .detail-action {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .social-primary {
        &__title {
            font-size: 14px;
        }

        .social-link {
            width: 34px;
            height: 34px;
        }
    }

    .detail-sapo {
        p {
            font-size: 16px;
        }
    }
    .table-of-contents {
        &__heading {
            padding: 15px;

            .left {
                .icon {
                    img {
                        width: 32px;
                    }
                }

                .text {
                    font-size: 16px;
                }
            }
        }

        &__content {
            padding: 0 15px 20px;
            ul  {
                font-size: 16px;
                
                li {
                    padding-left: 20px;
                }
            }
        }
    }
    .detail-content {

        & figure {
            margin-bottom: 15px;
            
            figcaption {
                padding: 8px 10px;
                font-size: 14px;
            }
            img {
                border-radius: 15px;
            }
        }
        

        & p,
        & li {
            font-size: 16px;
            margin-bottom: 16px;
    
        }
        &  h2 {
            font-size: 20px;
        }
        &  h3 {
            font-size: 18px;
        }
        & h4 {
            font-size: 16px;
        }
        &  h5 {
            font-size: 16px;
        }
        & h6 {
            font-size: 16px;
        }
    
        & blockquote {
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 16px;
    
            & p {
                font-size: 16px;
            }
        }
    }
    .article-related {
        padding: 15px;

        .article-title {
            font-size: 18px;
        }
        .article-des {
            font-size: 15px;
        }
    }

    .article-cate-personal {
        font-size: 14px;
    }
    .detail-tags {
        .tag-link {
            padding: 10px 20px;
            font-size: 12px;
            margin-right: 10px;
            margin-bottom: 0;
        }
    }
    .service-related {
        padding: 20px 10px;

        &__heading {
            font-size: 20px;
        }
        .article {
            margin-bottom: 15px;
        }
        .article-content {
            padding-left: 10px;
        }
        .article-title {
            font-size: 14px;
        }
    }
   

    // --------------------------------------------------------------------footer
    #back-top {
        right: 20px;
    }
    .footer-action {
        right: 20px;
        bottom: 80px;
    }

}


// max-width: 400px
@media (max-width:400px) {
    // --------------------------------------------------------------------header
    // --------------------------------------------------------------------index
    // --------------------------------------------------------------------cate
    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
   
}